@import "/usr/share/sway/templates/waybar/style.css";

#custom-menu {
	color : #ffffff;
}

#clock {
	color: #ffffff;
    font-weight: bold;
font-family: "Roboto";
}

#custom-sunset{
	padding-right: 10px;
}

#mode{
	font-family: Roboto;
}

#workspaces button.focused {
    color: #ffffff;
}

#network {
  font-family: "Roboto";
}

#disk{
  font-family: "Roboto";
}
